body {
    background: #f2dd55;
    width: 1300px;
}

.cap {
    background: #d6cd24;
    position: relative;
    left: 15%;
    height: 100%;
    padding-bottom: 10px;
    width: 85%;
    margin-right: 1px;
}

#text {
    font-size: 50px;
    color: white;
    position: relative;
    left: 40%;
    top: 10px;
    font-family: 'Roboto Condensed', sans-serif;
}

.feedbacksdiv > div {
    height: 200px;
    width: 61%;
    left: 15%;
    margin: 30px;
    position: relative;
    background: #ffe45c;
    border-radius: 40px;
}

#inp {
    background: #ffe45c;
    outline: none;
    color: white;
    width: 635px;
    border: none;
    font-family: 'Roboto Condensed', sans-serif;
    position: relative;
    top: -30px;
}

.divinp {
    border: 3px gray solid;
    position: relative;
    margin-left: 15px;
    top: 140px;
    margin: 15px;
    width: 640px;
    height: 40px;
}

.letterQ {
    color: #828281;
    width: 1px;
    position: relative;
    top: -15px;
}