<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Feedbacks</title>
    <link rel="stylesheet" href="/public/css/feedbacks.css">
    <script src="/public/js/feedbacks.js"></script>
</head>
<body>
    <div class="cap">
        <p id="text">Feedbacks</p>
        <div class="feedbacksdiv">
            <div>
                <img src="/public/Images/user.jpg" alt="user" width="80" height="80" class="image">
                <p class="stars">☆☆☆☆☆</p>
                <div class="container">
                    <form action="/formPost" class="form" method="post">
                        <div id="divinp"> 
                            <textarea id="inp" type="text" name="feedback" placeholder="Enter your feedback"></textarea>
                        </div>
                        <div class="div">
                            <div class="rating">
                                <label id="rate" for="Rating">Rate:</label>
                                <input type="range" max="5" min="1" step="1" name="rating" id="rating">
                            </div>
                            <div class="submitdiv">
                                <input type="submit" id="submit">
                            </div>
                        </div>
                    </form>     
                </div>    
            </div>
        </div>
    </div>
    <div class="panel">
        <button id="sucTasks"><a href="/succes-tasks">Succesful tasks</a></button><br>
        <button id="feedback"><a href="/to-do-list">Back</a></button>
        <button id="options-btn">≡</button>
    </div>
</body>
</html>