<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Feedbacks</title>
    <link rel="stylesheet" href="/public/css/feedbacks.css">
    <script src="/public/js/feedbacks.js"></script>
</head>
<body>
    <div class="cap">
        <p id="text">Feedbacks</p>
        <div class="feedbacksdiv">
            <div>
                <div class="divinp">
                    <p class="letterQ">0/50</p>
                    <input id='inp' placeholder="Leave your feedback" type="text">
                </div>
            </div>
        </div>
    </div>
</body>
</html>