<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>Sign up</title>
   <script src="/public/js/signup.js"></script>
   <link rel="stylesheet" href="/public/css/signup.css">
</head>
<body>  
   <p id="usedUsernames"><%= arr %></p>
   <div class="container">
      <div id="message-div">
         <p id="message">You have succesfully logged in</p>
         <button id="message-button"><a href="/feedbacks">Go back</a></button>
      </div> 
      <div class="formDiv">
         <form action="/formPost" method="post" class="form">
            <div class="inform">
               <input type="text" name="username" id="username" placeholder="Username">
               <p id="errorUser"></p>
               <input type="password" name="password" id="password" placeholder="Password">
               <input type="password" name="passwordcheck" id="passwordcheck" placeholder="Check password">
               <p id="errorPassword"></p>
               <input type="submit" id="submit">
            </div>
         </form>
      </div>
   </div> 
</body>
</html>