<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>succes tasks</title>
    <link rel="stylesheet" href="/public/css/succesTasks.css">
    <script src="/public/js/succesTasks.js"></script>
</head>
<body>
    <div class="cap">
        <p id="text">Succesful tasks</p>
        <div class="succesdiv"></div>
    </div>
    <div class="panel">
        <button id="sucTasks"><a href="/to-do-list">Back</a></button><br>
        <button id="feedback"><a href="/feedbacks">Leave your feedback</a></button>
        <button id="options-btn">≡</button>
    </div>
</body>
</html>