<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>To do list</title>
    <link rel="stylesheet" href="/public/css/toDoList.css">
    <script type="module" src="/public/js/toDoList.js"></script>
</head>
<body>
    <div class="cap">
        <p id="text">To do list</p>
        <div class="input">
            <input id="input" type="text">
            <button id="addButton">+</button>
        </div>
        <div class="tasks"></div> 
    </div> 
    <div class="panel">
        <button id="sucTasks"><a href="/succes-tasks">Succesful tasks</a></button><br>
        <button id="feedback"><a href="/feedbacks">Leave your feedback</a></button>
        <button id="options-btn">≡</button>
    </div>
</body>
</html>